body {
  overflow-x: hidden;
  font-family: "Secular One", sans-serif;
  background-color: rgb(241, 241, 241);
}

.barDecoration {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #f2f2f2;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border: 1px solid #1f2f47;
}

#menu {
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  text-shadow: 2px 2px 7px rgba(20, 20, 20, 0.75);
}

.button:hover {
  color: rgb(44, 44, 44);
  background-color: #8da6cf;
  cursor: pointer;
}

.disable {
  pointer-events: none;
  color: rgb(153, 0, 0);
}

#createNewArray {
  border-left: 3px solid #1f2f47;
  border-right: 3px solid #1f2f47;
}

#tutorial {
  border-left: 3px solid #1f2f47;
  border-right: 3px solid #1f2f47;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 75vh;
  min-height: 350px;
}

.bar {
  display: inline-block;
  width: 7px;
  margin: 1px;
  background-color: rgb(68, 68, 206);
}

footer {
  position: absolute;
  bottom: 0;
}
footer p {
  padding: 0.5rem;
}

#iconContainer {
  position: absolute;
  top: 15%;
  right: 0.25rem;
}

#linkedinLogo,
#githubLogo {
  height: 1.5rem;
  margin: 0 3px 0 3px;
  cursor: pointer;
}
