body {
  overflow-x: hidden;
}

#menu {
  text-align: center;
  width: 100%;
  text-decoration: none;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border: 1px solid #1f2f47;
}

#menu p {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
}

#menu p:hover {
  color: black;
  background-color: #8da6cf;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.bar {
  display: inline-block;
  width: 3px;
  background-color: blue;
  margin: 1px;
}
